@charset "UTF-8";
@font-face{
    font-family: Android;
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
    color: white;
    margin: 0;
    text-align: justify;
}
header{
    background-image: linear-gradient( rgb(161, 255, 161), rgb(1, 63, 1));
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
.title-header{
    text-align: center;
    margin: 0px;
    padding: 30px 0;
}
nav{
    background-color: rgb(1, 63, 1);
    padding: 5px 0;
}
.menu{
    margin: 0 15px;
    display: inline;
}
main{
    background-color: white;
    color: black;
    width: 850px;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
p{
    text-indent: 30px;
}
.title{
    background-image: linear-gradient(to right, rgb(161, 255, 161), white);
    padding: 0 5px;
}
h1,h2{
    font-family: Android, sans-serif;
    color: green;
}
section{
    margin: 0 0 20px 0;
    padding: 15px 20px;
}
a{
    color: green;
    text-decoration: none;
}
.img{
    
}
#video{
    background-color: darkgreen;
    margin: 0;
    padding: 50px;
}
#more{
    background-color: green;
    color: white;
    padding: 15px;
    margin: 0;
    text-indent: 0;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
#extra{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.411);
}
ul{
    display: inline-block;
    margin: 0;
}
footer{
    background-color: darkgreen;
    text-align: center;
    padding: 5px;
}
#final-footer{
    margin: 1px;
}
.link-footer{
    color: lightgreen;
}