@charset "UTF-8";
@font-face {
    font-family: Android;
    src: url(fontes/idroid.otf) format(opentype);
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: antiquewhite;
    margin: 0;
    text-align: justify;
}
header{
    background-image: linear-gradient( #55F579, rgb(0, 83, 0));
    color: white;
    text-align: center;
    padding: 10px 10px;
}
nav{
    background-color: rgb(0, 83, 0);
    padding: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
}
nav > a{
    color: white;
    padding: 8px;
    text-decoration: none;
}
nav a:hover{
    background-color: lightgreen;
    border-radius: 8px;
}
h2{
    font-family: Android;
    background-image: linear-gradient( to right, rgb(58, 202, 58),white);
    color: green;
}
section{
    background-color: white;
    text-indent: 30px;
    padding: 15px 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
    max-width: 800px;
    min-width: 470px;
    margin: auto;
}
#video{
    background-color: green;
    max-width: 800px;
    min-width: 470px;
    padding: 25px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
    margin: auto;
}
#table{
    background-color: white;
    text-indent: 30px;
    max-width: 800px;
    min-width: 470px;
    margin: 0 0 15px 0;
    padding: 25px;
    border-radius: 0 0 10px 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
    margin: auto;
}
section aside{
    background-color: #6CF49E;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.411);
}
#extra{
    background-color: green;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin: 15px 0 0 0;
}
ul{
    display: inline-block;
    text-indent: 0;
    padding: 0 0 0 20px;
}
footer{
    background-color: rgb(0, 83, 0);
    color: lightgreen;
    text-align: center;
    padding: 8px;
}
a{
    color: green;
    text-decoration: none;
}
footer{
    margin: 15px 0 0 0;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
    text-decoration: none;
}